# It's a gitignore - pretty self-explanatory.
# 
# It begins by ignoring everything then unignoring dotfiles.
# 	Everything afterwards is merely adding ignores back to
#	the filter.
#
# Doing it this way allows me to see any new dotfiles with
#	git status.

*
!.*
.ICEauthority
.Xauthority
.bash_history
.bzr.log
.classpath
.esd_auth
.gitconfig
.gitk
.gtk-bookmarks
.histfile
.hyperrogue.log
.lesshst
.milkytracker_config
.minecraft
.mtpz-data
.netrc
.photorec.cfg
.pulse-cookie
.recently-used
.viminfo
.scummvmrc
.zcompdump
.wine
.error
.mozilla
.ncmpcpp/patterns.list
!.bin/*
!.ncmpcpp/*
.ncmpcpp/error.log
.ncmpcpp/patterns.list
!.config/*
!.config/*/*
.config/Mumble
.config/PawelStolowski
.config/awesome
.config/bsnes
.config/dconf
.config/gpicview
.config/htop
.config/jstest-gtk
.config/mc
.config/nitrogen
.config/phoenix
.config/pianobar
.config/pkgbrowser
.config/smplayer
.config/spacefm
.config/twmn
.config/vkc
.config/youtube-viewer
.config/zurl
.config/ranger
.config/projectM
.config/vlc
.config/smplayer2
.config/gtk-2.0/gtkfilechooser.ini
.config/Trolltech.conf
.config/archey3.cfg
.config/fontgroups.xml
.config/monitors.xml
.config/pavucontrol.ini
.config/user-dirs.dirs
.config/user-dirs.locale
.config/rtorrent
.config/tmux-powerline
!.vim/*
!.vim/*/*
.vim/doc
.vim/.netrwhist
.vim/backup
.vim/swap
*~
*=
