[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".config/urxvt/perls"]
	path = .config/urxvt/perls
	url = git://github.com/muennich/urxvt-perls.git
[submodule ".vim/bundle/vim-dm-syntax"]
	path = .vim/bundle/vim-dm-syntax
	url = git://github.com/wlue/vim-dm-syntax.git
